<div class="wrapper" style="flex-direction:column; align-items: center; text-align: left; background-image:url(../../assets/images/recycle.jpg">
    <div class="inner-wrapper" style="margin-top: 0">
    <!--
        <p>Sustainability: <span id="sustainability_result">{{sustainabilityTotal}}</span></p>
        <p>Cost: <span id="cost_result">{{costTotal}}</span></p>
    -->
    <div style="text-align: center">
        You Are: <br /> <h1 style="text-transform: uppercase">Sustainability Novice</h1>
    </div>
    <dl>
        <dt>
        </dt>
        <dd id="sustainability_percentage" class="percentage percentage-{{sustainabilityPct}}"><span class="text">Sustainability</span></dd>
        <dd id="cost_percentage" class="percentage percentage-{{costPct}}"><span class="text">Cost</span></dd>
    </dl>
    <p>The choices you made helped Apple create a more sustainable iPhone!</p>
    <br />
    <h3>How did others do?</h3>
        <ul>
            <li>Step 1: Materials - From the users who took our challenge, 67 % chose Aluminum as the material to build their phone with.</li>
            <li>Step 2: Manufacturing - China was the choice of 87 % of our users.</li>
            <li>Step 3: Transport - Most respondents chose to transfer their goods in a ship.</li>
            <li>Step 4: Use - Most users buy a new phone when the previous one breaks.</li>
            <li>Step 5: Recycling - 88% chose smelting to be the best way to recycle metals from an iPhone.</li>
        </ul>
    </div>
</div>