<div class="wrapper" style="flex-direction:column; align-items: center; text-align: left">
    <div class="inner-wrapper" style="color:black; margin-top: 0">
    <!--
        <p>Sustainability: <span id="sustainability_result">{{sustainabilityTotal}}</span></p>
        <p>Cost: <span id="cost_result">{{costTotal}}</span></p>
    -->
    <div style="text-align: center">
        You Are: <br /> <h1 style="text-transform: uppercase">Sustainability Guru</h1>
    </div>
    <dl>
        <dt>
        </dt>
        <dd id="sustainability_percentage" class="percentage percentage-{{sustainabilityPct}}"><span class="text">Sustainability: {{sustainabilityTotal}}</span></dd>
        <dd id="cost_percentage" class="percentage percentage-{{costPct}}"><span class="text">Cost: {{costTotal}}</span></dd>
    </dl>
    <p>The choices you made helped Apple create a more sustainable iPhone!</p>
    <br />
    <h3>How did others do?</h3>
        <ul>
            <li>Step 1: Materials - 50% chose aluminum.</li>
            <li>Step 2: Manufacturing - 50% chose China.</li>
            <li>Step 3: Transport - Most respondents chose to transfer their goods in a ship.</li>
            <li>Step 4: Use - Most users buy a new phone when the previous one breaks.</li>
            <li>Step 5: Recycling - 88% chose to melt the phones down.</li>
        </ul>
    </div>
</div>