<footer class="footer" style="display:none">
  <div class="progress-indicator-container">
      <ul class="progress-indicator">
          <li class="active" ng-class="progress-1">
              <span class="bubble"></span>
          </li>
          <li>
              <span class="bubble" ng-class="progress-2"></span>
          </li>
          <li>
              <span class="bubble" ng-class="progress-3"></span>
          </li>
          <li>
              <span class="bubble" ng-class="progress-4"></span>
          </li>
          <li>
              <span class="bubble" ng-class="progress-5"></span>
          </li>
          <li>
              <span class="bubble" ng-class="progress-6"></span>
          </li>
          <li>
              <span class="bubble" ng-class="progress-7"></span>
          </li>
        </ul>
  </div>
  <div class="down-bar">
  </div>
</footer>
