<div class="wrapper" style="background-image:url(../../assets/images/worker.jpg">
  <div class="inner-wrapper">
    <h2>Material Selection</h2>
    <p class="section-description">Did you know that to build an iPhone you need a lot of elements? This goes from aluminum, graphite, lithium and gold used to produce parts such as the case, battery and electrical connections to even using rare metals to produce colors on the screen. Now, pick a material to start building your own:</p>
    <div class="questions-container">
      <button *ngFor="let question of questions" class="question" (mouseenter) ="mouseEnter(question.id)"  (mouseleave) ="mouseLeave(question.id)" (click)="boxClicked(question.id)" id="{{question.id}}">
        <h3>{{ question.title}}</h3>
      </button>
    </div>
    <div>
      <div *ngFor="let question of questions" >
        <div id="{{question.id}}-details" style="display:none" class="description">
            <div *ngFor="let paragraph of question.description">
                <p >{{paragraph}}</p>
            </div>
        </div>
      </div>
      <button (click)="makeDecision()" id="choose-button" style="display:none"><h3>Choose option</h3></button>
    </div>
    <div id="endResult" style="display:none">
      <p> To create your final product - a 129gr iPhone - approximately 34 kilograms of ore have been mined, 100 liters of water have been used, as well as 20.5 gr of cyanide.</p>
    </div>
    <a href="" id="" routerLink="/manufacturing">Proceed</a>
  </div>
</div>
