<div class="wrapper" style="background-image:url(../../assets/images/consumer.jpg">
  <div class="inner-wrapper">
      <h2> CONSUMER USAGE / RESPONSIBILITY</h2>
      <p class="section-description">Have you ever thought about the impact your own choices as a consumer, as a buyer? For example, how long you have had your current phone? When you purchased it, what was the reason, why have you changed phones before?</p>
    <div class="questions-container">
      <button *ngFor="let question of questions" class="question" (mouseenter) ="mouseEnter(question.id)"  (mouseleave) ="mouseLeave(question.id)" (click)="boxClicked(question.id)" id="{{question.id}}">
        <h3>{{ question.title}}</h3>
      </button>
    </div>
    <div>
      <div *ngFor="let question of questions" >
        <div id="{{question.id}}-details" style="display:none" class="description">
            <div *ngFor="let paragraph of question.description">
                <p >{{paragraph}}</p>
            </div>
        </div>
      </div>
      <button (click)="makeDecision()" id="choose-button" style="display:none"><h3>Choose option</h3></button>
    </div>
    <div id="endResult" style="display:none">
      <p>Reusing the phone will increase the cycle time of the product, which will decrease the energy costs and waste material costs of the cycle, so reusing a phone is more ecological than recycling and electronic waste.</p>
    </div>
    <a href="" id="" routerLink="/recycling">Proceed</a>
  </div>
</div>





