<div class="wrapper" style="background-image:url(../../assets/images/worker.jpg">
  <div class="inner-wrapper">
      <h2>TRANSPORTATION</h2>
      <p class="section-description">What's the journey an iPhone has to go through to get to you? Everytime a new product is created, the demand is huge! And immediate! So how do we do this? Choose a mode of transport:</p>
    <div class="questions-container">
      <button *ngFor="let question of questions" class="question" (mouseenter) ="mouseEnter(question.id)"  (mouseleave) ="mouseLeave(question.id)" (click)="boxClicked(question.id)" id="{{question.id}}">
        <h3>{{ question.title}}</h3>
      </button>
    </div>
    <div>
      <div *ngFor="let question of questions" >
        <div id="{{question.id}}-details" style="display:none" class="description">
            <div *ngFor="let paragraph of question.description">
                <p >{{paragraph}}</p>
            </div> 
        </div>
      </div>      
    </div>
    <div id="endResult" style="display:none">
      <p> Apple transports iPhones from China to stores all around the world in airplanes. The speed of airfare is more important than the higher price tag it has.</p>
    </div>
    <a href="" id="" routerLink="/usage">Usage</a>
  </div>
</div>





