/* You can add global styles to this file, and also import other style files */
html {
    padding-top: 0px;
    margin: 0;
}

body {
    margin-top: 0px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    color: #FFF;
    height: 100vh;
    margin: 0;
}

h2, h3, a{
}

h3 {
    text-align: center;
}

img {
    max-width: 100%;
}

a {
    margin: 60px auto;
    font-size: 150%;
    color: #FFF;
    border: 2px solid #F97319;
    padding: 10px;
    text-decoration: none;
}

.questions-container {
    display: flex;
    margin-bottom: 50px;
}

.question {
    margin-left:3%;
    width: 30%;
    border: 2px solid #F97319;
    background-color: transparent;
    color: #FFF;
}

.question:hover, #choose-button:hover {
    cursor: pointer;
    background-color: #000;
}

.question:first-child {
    margin-left: 0;
}

.red {
    color: #FF0000;
}

.title {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.base-class {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.base-class.my-class {
    color: red;
    font-size:3em;
}

.inner-wrapper {
    width:60%;
    padding: 20px;
    margin-top: 150px;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    overflow: auto;
}

#endResult {
    border: 2px solid #F97319;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #000;
}

#choose-button {
    border: 2px solid #F97319;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    margin-bottom: 30px;
}


.description {
   /*  border: 2px solid #F97319; */
    /* padding: 20px; */
}
.video-container {
    display:block;
    max-width: 830px;
    border: 0;
}



/*******************************
******** MEDIA QUERIES**********
*******************************/

@media only screen and (max-width: 1200px) {

        display: none;

}



@media only screen and (max-width: 768px) {
    .question {
        width: 48%;
        margin-bottom: 20px;
    }

    .question:nth-child(3) {
        margin-left: 0;
    }

    .questions-container {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {
    .question {
        width: 100%;
        margin-left: 0;
    }

}

